.content-margin {
  padding-bottom: 20px;
}

.scrollable-list-of-user {
  width: 100%;
  height: calc(100vh - 25em);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(85, 3, 3) black;
  padding: 0 5px;
}

.dashboard {
  background-image: url("./../../assets/img/hero/hero-8.jpg");
  height: 100vh;
  box-sizing: border-box;
  font-family: "Muli", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  padding-top: 10em;

  .dashboard-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: rgba(7, 7, 7, 0.5);
    margin: 10px 0;
    border-radius: 5px;
    min-height: 100%;

    span {
      font-size: 20px;
      font-weight: 500;
      color: white;
      width: 100%;
      margin: 10px 0;
    }

    h1 {
      font-size: 30px;
      color: white;
      //   border: 1px solid #dc151c;
      padding: 10px;
      width: 100%;
    }
    strong {
      color: #dc151c;
    }

    .clients-online {
      margin: 5px 0;
      padding: 0;
      width: 100%;
      margin-bottom: 3px;
      background: rgba(7, 7, 7, 0.588);
      backdrop-filter: blur(19px) saturate(180%);
      border-radius: 10px;
      border: 2px solid rgba(7, 7, 7, 0.3);
      .row2 {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid #8aed8d;
          margin: 0;
          padding: 0;
        }
        .small-circle {
          width: 13px;
          height: 13px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgb(48, 255, 48);
          border-radius: 50%;
        }
        h5 {
          flex: 1;
          color: white;
          font-weight: 500;
          padding: 0;
          margin-left: -35px;
          font-family: "muli";
          padding: 5px;
          float: left;
          text-transform: capitalize;
          font-size: 18px;
        }

        .clients-flex {
          display: flex;
          flex-direction: column;
          p {
            line-height: 6px;
            margin-left: -25px;
            font-size: 14px;

            strong {
              color: orange;
            }
          }

          .timein_timeout {
            position: relative;
            .logout {
              position: absolute;
              top: -10px;
              right: 0;
              font-size: 12px;
              padding: 3px 5px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// .userRegistration {
//   background-image: url("./../../assets/img/hero/hero-4.jpg");
//   height: 100vh;
//   box-sizing: border-box;
//   font-family: "Muli", Arial;
//   padding-top: 11em;

//   .dashboard-col {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding: 20px;
//     background: rgba(7, 7, 7, 0.5);
//     margin: 10px 0;
//     border-radius: 5px;

//     span {
//       font-size: 20px;
//       font-weight: 500;
//       color: white;
//       width: 100%;
//     }

//     h1 {
//       font-size: 50px;
//       color: white;
//       //   border: 1px solid #dc151c;
//       padding: 10px;
//       width: 100%;
//     }
//     strong {
//       color: #dc151c;
//     }

//     .contract-wrapper {
//       .cbox:checked {
//         background-color: red; /* color when checked */
//       }

//       p {
//         font-size: 15px;
//         color: white;
//       }

//       .checkbox-wrapper {
//         display: flex;
//         align-items: center;
//         justify-content: left;
//         flex-direction: row;
//         background-color: green input;
//         gap: 10px;
//       }

//       .liability-wrapper {
//         h5 {
//           text-align: center;
//           color: white;
//           font-family: "muli";
//         }
//       }
//     }
//   }
// }
