$backgroundColor: rgb(59, 49, 49);
$titleColor: rgb(169, 167, 167);
$headerColor: rgb(36, 23, 23);
$textColor: white;

.userHistoryPage {
  background-image: url("./../../assets/img/hero/hero-8.jpg");
  height: 100vh;
  box-sizing: border-box;
  font-family: "Muli", Arial;
  padding-top: 11em;

  .bg {
    position: relative;
  }
  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    position: absolute;
  }

  .team-page {
    background: rgb(6, 1, 1);
  }

  .ts-button {
    margin-right: 3px;
    margin-top: 3px;
  }

  .subInfo {
    background: rgb(27, 17, 17);
    border-radius: 5px;
    padding: 10px 0;
  }

  .myCard {
    background: $backgroundColor;
    margin: 10px 0;
    .myCard-header {
      background: $headerColor;

      h5 {
        color: $titleColor;
      }
    }
    .myCard-title {
      color: $titleColor;
      span {
        color: $textColor;
      }
    }

    .card-text {
      color: $titleColor;
    }
    .card-text span {
      color: $textColor;
    }

    .myCard-footer {
      h4 {
        color: $textColor;
      }
    }
  }
}
