.active-user {
  background-image: url("./../../assets/img/hero/hero-10.jpg");
  height: 100vh;
  box-sizing: border-box;
  font-family: "Muli", Arial;
  padding-top: 11em;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: rgba(7, 7, 7, 0.7);
    margin: 0;
  }

  .title h1 {
    flex: 1;
    text-align: center;
    color: white;
  }
  .title span {
    color: red;
  }

  .c-col-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: calc(100vh - 16em);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(85, 3, 3) black;
    border-radius: 20px;
    .c-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 20px;
      background: rgba(7, 7, 7, 0.7);
      margin: 10px 0;
      border-radius: 5px;
      // border: 1px solid black;
      position: relative;

      .c-col-name {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        flex-direction: row;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid green;
          margin-right: 5px;
          object-fit: cover;
        }

        .col-name {
          align-items: center;
          justify-content: center;

          h4 {
            font-size: 25px;
            color: white;
            text-transform: capitalize;
          }
          span {
            color: green;
          }
        }
      }
      .c-col-time-in-out {
        display: flex;
        align-items: start;
        justify-content: baseline;
        padding: 5px;
        flex-direction: row;
        flex-direction: column;
        h4 {
          color: orange;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
        }
        h3 {
          color: yellowgreen;
          font-size: 20px;
        }
        h5 {
          color: white;
          font-size: 15px;
        }
      }
      .online {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(48, 255, 48);
        top: 65px;
        left: 75px;
      }

      .offline {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: red;
        top: 65px;
        left: 75px;
      }
    }
  }
}
