.subscribeNow {
  background-image: url("./../../assets/img/hero/hero-5.jpg");
  height: 100vh;
  box-sizing: border-box;
  font-family: "Muli", Arial;
  padding-top: 11em;

  .messageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
    width: 95%;
    border-radius: 10px;
    border: 2px solid rgb(37, 140, 37);
    h3 {
      color: black;
    }
  }

  .messageBox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    width: 95%;
    border-radius: 10px;
    border: 2px solid rgb(255, 191, 71);
    h3 {
      color: black;
    }
  }

  .left-column {
    // border: 1px solid green;
    padding: 5px 0;
  }

  .right-column {
    // border: 1px solid red;
  }

  .selected-user {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;
    background: rgba(7, 7, 7, 0.7);
    min-height: 50px;
    position: relative;

    .cancelUser {
      padding: 2px 10px;
      font-size: 10px;
      position: absolute;
      bottom: 20px;
      right: 15px;
    }

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border: 2px solid black;
    }
  }

  .search-users {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;

    input {
      width: 98%;
      border-radius: 5px;
      border: 2px solid rgb(42, 42, 42);
      padding: 10px 10px;
      box-sizing: border-box;
      margin: 5px 5px;
      background-color: rgb(0, 0, 0);
      color: white;
    }

    .list-of-user {
      position: absolute;
      top: 36px;
      background-color: gray;
      width: 100%;
      z-index: 999;
      font-family: "muli";

      ul li {
        cursor: pointer;
        text-transform: capitalize;
      }
      ul li:hover {
        background-color: #7a3049;
        color: white;
      }

      .dreg {
        background-color: #a67585;
        padding: 5px 10px;
      }
    }

    .list-of-trainers {
      position: absolute;
      top: 120px;
      background-color: gray;
      width: 100%;
      z-index: 999;
      font-family: "muli";

      ul li {
        cursor: pointer;
        text-transform: capitalize;
      }
      ul li:hover {
        background-color: #7a3049;
        color: white;
      }

      .dreg {
        background-color: #a67585;
        padding: 5px 10px;
      }
    }
  }

  .save-subscriptions {
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }

  .save-subscriptions:hover {
    color: white;
    background-color: orange;
  }

  .save-subscriptions-successfully {
    text-decoration: none;
    background-color: green;
  }
  .save-subscriptions-successfully:hover {
    color: white;
    background-color: orange;
  }
}
