.subcriptionPlan {
  background-image: url("./../../assets/img/hero/hero-5.jpg");
  height: 100vh;
  box-sizing: border-box;
  font-family: "Muli", Arial;
  padding-top: 11em;

  a {
    text-decoration: none;
  }
  a:hover {
    color: white;
  }

  .sub-wrapper {
    strong {
      color: orange;
    }
  }
}
